/* About Section */
.about-section {
  padding: 6rem 2rem;
  background-color: #f9f9f9;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}

.about-text {
  flex: 1;
}

.profile-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-image img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  object-fit: cover;
}

  /* Responsive Design */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
  }
}
  