/* App.css */
.app {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  margin-top: 60px;
}

section {
  padding: 4rem 0;
}

#about {
  background-color: #d1d1d1;
}

#education {
  background-color: #ffffff;
}

#experience {
  background-color: #d1d1d1;
}

#skills {
  background-color: #ffffff;
}

#footer {
  background-color: #d1d1d1;
}