/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
}

main {
  margin-top: 60px;
}

section {
  padding-top: 10;
}

#hero {
  background-color: transparent;
}

#about {
  background-color: transparent;
}

#education {
  background-color: transparent;
}

#experience {
  background-color: transparent;
}

#skills {
  background-color: transparent;
}

#footer {
  background-color: transparent;
}